[Desktop Entry]
Type=Application
Name=porosenocheck
Comment=A new Flutter project.
Icon=com.porosenocheck.porosenocheck
Exec=/usr/bin/com.porosenocheck.porosenocheck
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.porosenocheck
ApplicationName=porosenocheck
